#report h1 {
	font-size: 3em;
	font-weight: 300;
	line-height: 1em;
	text-align: center;
	color: #fb667a;
}

#report h2 {
	font-size: 1em;
	font-weight: 300;
	text-align: center;
	display: block;
	line-height: 1em;
	padding-bottom: 2em;
	color: #fb667a;
}

#report h2 a {
	font-weight: 700;
	text-transform: uppercase;
	color: #fb667a;
	text-decoration: none;
}

#report .blue {
	color: #185875;
}
#report .yellow {
	color: #fff842;
}

#report .container th h1 {
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	color: #185875;
}

#report td a {
	text-decoration: none;
	color: inherit;
}
#report .container td {
	font-weight: normal;
	font-size: 1em;
	-webkit-box-shadow: 0 2px 2px -2px #0e1119;
	-moz-box-shadow: 0 2px 2px -2px #0e1119;
	box-shadow: 0 2px 2px -2px #0e1119;
}

#report .container {
	text-align: center;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	display: table;
	padding: 0 0 8em 0;
}

#report .container td,
#report .container th {
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 2%;
}

/* Background-color of the odd rows */
#report .container tr:nth-child(odd) {
	background-color: #323c50;
}

/* Background-color of the even rows */
#report .container tr:nth-child(even) {
	background-color: #2c3446;
}

#report .container th {
	text-align: center;
	background-color: #929db9;
	margin: 0 auto;
}

#report .container td {
	color: #fb667a;
}

#report .container tr:hover {
	background-color: #464a52;
	-webkit-box-shadow: 0 6px 6px -6px #0e1119;
	-moz-box-shadow: 0 6px 6px -6px #0e1119;
	box-shadow: 0 6px 6px -6px #0e1119;
}

#report .container td:hover {
	background-color: #fff842;
	color: #403e10;
	box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px,
		#7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
	transform: translate3d(7px, -7px, 0);
	transition-delay: 0s;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: line;
}

@media (max-width: 800px) {
	#report .container td:nth-child(4),
	#report .container th:nth-child(4) {
		display: none;
	}
}
